
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(172, 155, 131);
}

.list-group-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.container{
  display: grid;
  position: relative;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}
