
#root {
  height: 100dvh;
  width: 100%;
  position: relative;
}

.list-group-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.container{
  height: 100%;
  width: 100%;
}

.formcont p{
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}